*{
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: #003;
}
html,body{
    display: grid;
    height: 100%;
    align-items: center;
    margin-left: 320px;

}

.wrapper{
    height: 100px;
    width: 360px;
    background: purple;
    cursor: default;
    animation: animate 1.5s linear infinite;
    border-radius: 10px;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0 );
}

.wrapper .display{
    position: absolute;
    top: 50%;
    /**opacity: 0; */
    background: #1b1b1b;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background: rgb(245, 31, 66);
    height: 85px;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0 );
    width: 345px;
    text-align: center;
    margin-left: 136px;
    border-radius: 6px;
}

.wrapper .display #time{
line-height: 85px;
color: #fff;
font-size: 60px;
font-weight: 50;
gap: 6px;
animation: animate 1.5s linear infinite;



}

@keyframes animate {
    100%{
    filter: hue (360deg);
    }
    
}